* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template: auto 4fr/ 1fr 4fr;
}

/* Header */

/*Nav-bar */
.header {
    padding: 0.5rem 2rem;
    display: grid;
    grid-area: 1 / 2 / 2 / -1;
    grid-template: auto 1fr / 2fr 1 fr;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-area: 1/1/2/2;
}

.magnifier-icon {
    height: 2rem;
    width: 2rem;
}

.search-input {
    flex: 1;
    border-radius: 20px;
    border: none;
    background-color: rgb(209, 209, 209);
    height: 1.5rem;
}

/* Profile container */
.profile-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    grid-area: 1/2/2/3;
}

.user-profile {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

.bell-img {
    height: 1.7rem;
    cursor: pointer;
}

.user-name {
    margin: 0;
    cursor: pointer;
}

/* Welcome Container */

.welcome-container {
    display: grid;
    grid-template: 1fr 1fr/ auto 1fr;
    gap: 0.1rem 1rem;
}

.user-profile-big {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
}

.hi-para {
    margin: 0;
    font-weight: bold;
    align-self: flex-end;
}

.main-user-name {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-start;
}

/* Buttons container */

.btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn-header {
    cursor: pointer;
    color: white;
    background-color: #f59e0b;
    border: none;
    width: 6rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1rem;
}

.btns-container button:active {
    transform: scale(0.97);
}

/* End of Header */

/* Sidebar */

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: #f59e0b;
    color: white;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    padding-right: 5rem;

}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.raccoon-clip {
    cursor: pointer;
    height: 3rem;
}

.logo h3 {
    margin: 0;
    font-size: 2rem;
    cursor: pointer;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.sidebar ul li img {
    height: 2rem;
    cursor: pointer;
    filter: invert(1);
}

.sidebar ul li p {
    cursor: pointer;
    font-weight: bold;
}
